<div id="mobile-nav"></div>
<nav>
    <div class="menu">
        <div class="col-sm-12" style="position:absolute;z-index: 9999;right: 0;">
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Search POIs</h4>
                    <div>
                        <svg width="10" height="10">
                            <rect width="10" height="10" style="fill:#F44336;" />
                        </svg>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="academicBuildingsCheckbox" /> Academic Buildings
                        </label>
                    </div>

                    <div>
                        <svg width="10" height="10">
                            <rect width="10" height="10" style="fill:#9C27B0;" />
                        </svg>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="administrativeBuildingsCheckbox" /> Administrative Buildings
                        </label>
                    </div>

                    <div>
                        <svg width="10" height="10">
                            <rect width="10" height="10" style="fill:#673AB7;" />
                        </svg>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="offCampusCheckbox" /> Off Campus Apartments
                        </label>
                    </div>


                    <div>
                        <svg width="10" height="10">
                            <rect width="10" height="10" style="fill:#3F51B5;" />
                        </svg>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="onCampusCheckbox" /> On Campus Apartments
                        </label>
                    </div>

                    <div>
                        <svg width="10" height="10">
                            <rect width="10" height="10" style="fill:#009688;" />
                        </svg>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="playgroundsCheckbox" /> Playgrounds
                        </label>
                    </div>

                    <div>
                        <svg width="10" height="10">
                            <rect width="10" height="10" style="fill:#2196F3;" />
                        </svg>
                        <label class="checkbox-inline">
                            <input type="checkbox" id="residenceHallsCheckbox" /> Residence Halls
                        </label>
                    </div>

                    <hr />
                    <input class="form-control col-sm-12 margin-bottom" id="search" type="text" placeholder="Enter POI name" />
                    <input class="form-control col-sm-12 margin-bottom" id="radius" type="text" placeholder="Enter radius in miles" />
                    <button class="btn btn-primary" onclick="searchPOI();">Search</button>
                    <button class="btn btn-secondary" onclick="clearAllLayers();">Clear</button>
                </div>
            </div>
            <br />
            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Get Directions</h4>
                </div>
            </div>
        </div>
    </div>
</nav>



<div id="map" style="height: 100%;"></div>